@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Selection Color - Using the new Royal Green */
::selection {
  background-color: #004E36; 
  color: #ffffff;
}
